* {
	font-family: Arial;
	text-align: center;
}
body {
	margin: 40px;
}
::-moz-selection {
	background: #ccc;
}
::selection {
	background: #ccc;
}
input {
	padding: 20px;
	font-size: 200%;
	width: 80%;
	border: 4px solid #333;
}
input:focus {
	border: 4px solid #66c;
	outline: none;
}
#preview {
	font-size: 200%;
}